body {
  margin: 0px;
  font-family: "Redressed", cursive;
  font-family: "Xanh Mono", monospace;
}

h1 {
  font-size: 50px;
  font-family: "Redressed", cursive;
  color: rgb(44, 43, 43);
}

h2 {
  font-size: 40px;
}

h3 {
  color: rgb(122, 116, 116);
  font-size: 26px;
}

h4 {
  color: rgb(255, 99, 71);
}

img {
  border-radius: 50%;
  width: 250px;
  height: 500px;
}

section {
  height: 500px;
  padding-bottom: 50px;
}

.profile-header {
  color: rgb(14, 119, 224);
}

.profile-pic {
  width: 100%;
}

.half-section {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.part-of-portfolio {
  height: 500px;
  padding-bottom: 50px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(40deg, dodgerblue, blue);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.email-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(71, 71, 238);
}

#top-part {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}

#middle-part {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

#bottom-part {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.single-experience {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 75%;
  background-color: white;
}

#test-engineer {
  border-left: 5px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

#web-developer {
  border-left: 5px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p {
  font-size: 12px;
  text-align: center;
}
